<div class="container" *ngIf="dataSource">
  <div class="row align-items-center">
    <form [formGroup]="customForm">
      <ng-container *ngFor="let item of dataSource; let i = index;">
        <div class="w-100" *ngIf="getDivW100(i)"></div>
        <div class="col-sm" [ngSwitch]="item.controlType">
          <!-- Input Type  -->
          <!-- 改為 FormControl 作法，就變成只需要傳 formControlName 即可 -->
          <app-keydown-input
            *ngSwitchCase="cType.KeydownInput"
            formControlName="{{ item.id }}"
            [controlItem]="item"
          ></app-keydown-input>

          <!-- Checked Box Type  -->
          <app-check-box
            *ngSwitchCase="cType.CheckBox"
            formControlName="{{ item.id }}"
            [controlItem]="item"
          ></app-check-box>

          <!-- Checked Box Type  -->
          <app-check-box-list
            *ngSwitchCase="cType.CheckBoxList"
            formControlName="{{ item.id }}"
            [controlItem]="item"
          ></app-check-box-list>

          <!-- RadioButton Type  -->
          <app-radio-button
            *ngSwitchCase="cType.RadioButton"
            formControlName="{{ item.id }}"
            [controlItem]="item"
          ></app-radio-button>

          <!-- SlideToggle Type  -->
          <app-slide-toggle
            *ngSwitchCase="cType.SlideToggle"
            formControlName="{{ item.id }}"
            [controlItem]="item"
          ></app-slide-toggle>

          <!-- TimePicker Type  -->
          <app-time-picker
            *ngSwitchCase="cType.TimePicker"
            formControlName="{{ item.id }}"
            [controlItem]="item"
          ></app-time-picker>

          <!-- DatePicker Type  -->
          <app-date-picker
            *ngSwitchCase="cType.DatePicker"
            formControlName="{{ item.id }}"
            [controlItem]="item"
          ></app-date-picker>

          <!-- DropDownList Type  -->
          <app-drop-down-list
            *ngSwitchCase="cType.DropDownList"
            formControlName="{{ item.id }}"
            [controlItem]="item"
          ></app-drop-down-list>

          <!-- Input Type  -->
        </div>
      </ng-container>
    </form>
  </div>
</div>

<!-- <hr />
<pre>{{ customForm.value | json }}</pre> -->

<!-- <pre>{{ !customForm.invalid }}</pre> -->
