<app-table-manager
  [pageSize]="4"
  [stickyColumns]="dataTableStickyCols"
  [stickyEndColumns]="dataTableStickyEndCols"
  [dataSource]="dataTableSource"
  [tableSchema]="tableSchema"
  [reportName]="reportName"
  [isShowCheckBox]="true"
  [isShowAddButton]="true"
  [isShowEditButton]="true"
  [isShowDeleteButton]="true"
  (addRowEvent)="addData()"
  (editRowEvent)="editData($event)"
  (deleteRowEvent)="deleteCheckedList($event)"
  (isSelectedEvent)="isSelectedEvent($event)"
  (selectedAllValueChange)="selectedAllValueChange($event)"
></app-table-manager>
