.TitleNoWrap {
  white-space: nowrap;
}

.table_div {
  width: 90vw;
}

.table_show {
  height: 50vh;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 10px;
  text-align: center;
}

.mat-column-select {
  overflow: initial;
}
