.TitleNoWrap {
  white-space: nowrap;
}

.table_div {
  width: 50vw;
}

.table_show {
  height: 50vh;
}
/*
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 10px;
  text-align: center;
} */

.mat-column-select,
.mat-column-btn {
  padding: 10px 24px !important;
}

/* 複寫 Checkbox 勾選後填滿的背景色 */
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #b8daff !important;
}

::ng-deep .mat-checkbox-focused.mat-ink-ripple {
  background-color: #b8daff !important;
}
