<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Demo</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="/form-manager-demo">通用表單呈現</a>
              <a class="nav-item nav-link" href="/table-manager-demo">萬用資料表呈現</a>
              <a class="nav-item nav-link" href="/filter-form-manager-demo">純查詢條件搭配萬用資料表</a>
              <a class="nav-item nav-link" href="/all-manager-demo">綜合版本應用呈現</a>
          </div>
      </div>
      <select class="form-control form-control-sm " id="Nav_Select_Lan">
          <option>Data1</option>
          <option>Data2</option>
      </select>
      <button class="btn btn-dark btn-sm" type="button" onclick="logout()" id="Nav_Btn_Logout">登出</button>
  </nav>
</header>
