<p>查詢條件</p>

<div class="container">
  <div class="row align-items-center">
    <ng-container *ngFor="let filter of filterSource; let i = index;">
      <div class="w-100" *ngIf="getDivW100(i)"></div>
      <div class="col-sm" [ngSwitch]="FType[filter.type]">

        <!-- 日期 查詢條件 -->
        <app-date-picker-filter
          *ngSwitchCase="FType[FType.DatePicker]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-date-picker-filter>

        <!-- 時間 查詢條件 -->
        <app-time-picker-filter
          *ngSwitchCase="FType[FType.TimePicker]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-time-picker-filter>

        <!-- 下拉式選單 查詢條件 -->
        <app-drop-down-list-filter
          *ngSwitchCase="FType[FType.DropDownList]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-drop-down-list-filter>

        <!-- 點選按鈕選單 查詢條件 -->
        <app-radio-button-filter
          *ngSwitchCase="FType[FType.RadioButton]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-radio-button-filter>

        <!-- 啟用停用按鈕 查詢條件 -->
        <app-slide-toggle-filter
          *ngSwitchCase="FType[FType.SlideChecked]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-slide-toggle-filter>

        <!-- 勾選按鈕 查詢條件 -->
        <app-check-box-filter
          *ngSwitchCase="FType[FType.CheckBox]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-check-box-filter>

        <!-- 勾選樹狀圖 查詢條件 -->
        <app-tree-filter
          *ngSwitchCase="FType[FType.TreeCheckbox]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-tree-filter>

        <!-- 郵件 輸入查詢條件 -->
        <app-input-mail-filter
          *ngSwitchCase="FType[FType.MailInput]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-input-mail-filter>

        <!-- Input 輸入類型查詢條件 -->
        <app-input-filter
          *ngSwitchCase="(FType[filter.type] === FType[FType.StringInput]) ||
                          FType[filter.type] === (FType[FType.NumberInput]) ? FType[filter.type] : ''"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-input-filter>

        <div *ngSwitchDefault>{{FType[filter.type]}} Filter Not Defined</div>
      </div>
    </ng-container>
  </div>
</div>
<!-- <pre
  >{{ filterList | json }}
</pre> -->
<br />
<hr />
<hr />
