::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #0066FF !important;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.container>.row>div{
  padding: 15px 20px;
}

.row > [class *='col-'] {
  display: flex;
  flex-direction: column;
}
