<p>查詢條件</p>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let filter of filterList; let i = index;">
      <div class="w-100" *ngIf="getDivW100(i)"></div>
      <div class="col-sm" [ngSwitch]="FType[filter.type]">
        <app-date-picker-filter
          *ngSwitchCase="FType[FType.DatePicker]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-date-picker-filter>
        <app-time-picker-filter
          *ngSwitchCase="FType[FType.TimePicker]"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-time-picker-filter>
        <app-input-filter
          *ngSwitchCase="(FType[filter.type] === FType[FType.StringInput]) || FType[filter.type] === (FType[FType.NumberInput]) ? FType[filter.type] : ''"
          [filterElement]="filter"
          (ValueChange)="ValueChange($event)"
        ></app-input-filter>
      </div>
    </ng-container>
  </div>
</div>
<!-- <pre
  >{{ filterList | json }}
</pre> -->
<br />
<hr />
<hr />
