<div [hidden]="isHidden">
  <!-- 一般勾選項 true/false -->
  <ng-container *ngIf="!dataSource">
    <mat-checkbox labelPosition="before" [formControl]="control">
      {{ displayName }}
    </mat-checkbox>
  </ng-container>

  <!-- 多選單勾選 -->
  <ng-container *ngIf="dataSource">
    <!-- <div>
    {{ displayName }}
    <mat-checkbox
      [formControl]="control"
      style="margin: 0 10px;"
      *ngFor="let r of dataSource"
      >{{ r.lable }}</mat-checkbox
    >
  </div> -->

    <div style="width: 180px;">
      <mat-selection-list [formControl]="control">
        {{ displayName }}

        <!-- 注意要記得給予 value 值，代表此控制項選擇的值， r.lable 是用來呈現給使用者的文字 -->
        <mat-list-option
          *ngFor="let r of dataSource;"
          [id]="r.key"
          [value]="r.key"
        >
          {{ r.lable }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </ng-container>
</div>
