<h1 mat-dialog-title>使用者 Dialog 編輯頁面</h1>
<div mat-dialog-content>
  <app-form-controls #tform [dataSource]="controlItem"></app-form-controls>
</div>

<div mat-dialog-actions style="float:right;">
  <button mat-stroked-button color="accent" (click)="onNoClick()">取消</button>
  <button mat-stroked-button color="accent" (click)="onResetClick()">重置</button>
  <button mat-stroked-button color="accent" (click)="onSaveClick(tform.customForm.value)">存檔</button>
</div>

<br />
<br />
<pre>{{ tform.customForm.value | json }}</pre>
